<div
  class="gm-screen-app {{#if expanded}}expanded{{/if}} {{classes}} {{#if displayDrawer}}window-app gm-screen-drawer{{/if}}"
  {{#if displayDrawer}} style="
   opacity: {{drawerOpacity}};
   --gm-screen-width: {{drawerWidth}};
   --gm-screen-height: {{drawerHeight}}vh;
   --gm-screen-right-offset: {{rightMargin}}vw;
   " {{/if}}>

  {{#if displayDrawer}}
  <div class='gm-screen-actions'>
    <button class="clear" type='button' data-action="clearGrid"><i class="fas fa-ban"></i>{{localize
      'GMSCR.gmScreen.Reset'}}</button>

    <button class="refresh" type='button' data-action="refresh"><i class="fas fa-sync"></i>
      {{localize 'GMSCR.gmScreen.Refresh'}}</button>

    <button class="gm-screen-button" data-action="toggle-gm-screen"><i class="fas fa-book-reader"></i>
      {{localize 'GMSCR.gmScreen.Open'}}</button>
  </div>
  {{/if}}

  <nav class="sheet-tabs tabs">
    <a class='item' data-tab='default'>{{localize 'Default'}}</a>
    <a class='item' data-tab='combat'>{{localize 'EFFECT.Combat'}}</a>
  </nav>

  {{#each grids}}

  {{> 'modules/gm-screen/templates/parts/screen-grid.hbs' rows=../rows columns=../columns }}

  {{/each}}

</div>